<!--page heading-->
<div class="page-header center_text" >
   <h1>Documentation</h1>
  <p class="lead">sources, methods of visualizations and handling of ucertainty</p>
</div>

<!-- Content -->
<div class="row" style="padding:20px">
  <div class="col-md-10 col-md-offset-1">    
	  <ul class="nav nav-tabs" style="margin-bottom: 15px;">
	    <li class="active"><a href="#home" data-toggle="tab">Excavations in Nemi</a></li>
	    <li><a href="#3D" data-toggle="tab">3D model generation</a></li>
	    <li><a href="#uncertainty" data-toggle="tab">Calculation of the uncertainty</a></li>
	    <li><a href="#uncertaintyV" data-toggle="tab">Visualizing the uncertainty</a></li>
	    <li><a href="#credits" data-toggle="tab">Credits</a></li>
	    <li><a</a></li>
	  </ul>
	  <div id="myTabContent" class="tab-content">
	    <div class="tab-pane fade active in" id="home">
	    	<h2>Description of archaeological site in Nemi</h2>
	    	<div class="row">
		    	<div class="col-md-5">	    		
		      		<p>The archaeological site investigated in this project is situated in the municipality of Nemi in central Italy. Nemi is located 30km south-east from Rome and it belongs to the province of Rome. Excavations are located in the northern part of the Nemi basin. This basin is a former volcanic crater and its southern part is covered by the lake having the same name Nemi. Since 1984, this area is part of the national park called Parco Naturale dei Castelli Romani (Storemyr, 2004).</p>
		    	</div>
		    	<div class="col-md-5 col-md-offset-2">
		    		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23825.562959507748!2d12.706831858635084!3d41.716302865235534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDHCsDQzJzI4LjIiTiAxMsKwNDInMzMuMiJF!5e0!3m2!1sen!2scz!4v1409472268737" width="400" height="250" frameborder="0" style="border:0"></iframe>
		    	</div>
		    </div>
		    <br>
		    <div class="row">
		    	<div class="col-md-5">	    	
		    		<%= image_tag 'sancturay_photo.jpg', class: "img-responsive img-centre" %>
		    	</div>
		    	<div class="col-md-5 col-md-offset-2">
		    		<p>This project focuses on the ruins of ancient temple named Sanctuary of Diana. Diana Nemorensis, sometimes also known as Diana of Nemi or Diana of the Wood, was an Italian goddess worshipped in ancient Roman religion (Peters et al., 2012). According to Roman mythology, Diana was the goddess of the hunt, moon, and birthing; moreover she has been usually associated with wild animals and woodland (Nemi to Nottingham, 2014). This temple was connected by the Via Virbia to one of the most important roads in Rome called Via Appia which connected Rome and the current Brindisi (Peters et al., 2012). The only remains of the Sanctuary of Diana are in the form of excavated ruins.</p>
		    	</div>
	    	</div>
	    	<br>
	    	<h2>Knowledge about the Sanctuary of Diana</h2>
	    	<div class="row">
	    		<div class="col-md-5">
		    		<p>Sanctuary of Diana was sequentially constructed in three time periods. The division of the reconstruction sequences to individual phases is illustrated on the figure. However it was decided that only the third phase (orange image) will be reconstructed within the scope of this project.</p>
		    	</div>
		    	<div class="col-md-2 col-md-offset-1">	    	
		    		<%= image_tag 'phase1.jpg', class: "img-responsive img-centre" %>
		    	</div>
		    	<div class="col-md-2">	    	
		    		<%= image_tag 'phase2.jpg', class: "img-responsive img-centre" %>
		    	</div>
		    	<div class="col-md-2">	    	
		    		<%= image_tag 'phase3.jpg', class: "img-responsive img-centre" %>
		    	</div>
	    	</div>
	    	<br>
	    	<h2>References</h2>
	    	<div class="row">
	    		<div class="col-md-12">
	    			<p>Peters, S. and P. Papakosta. <i>Archeological Cartographic Information System: Demonstrated for the excavation of the Diana sanctuary in Nemi.</i> Project Documentation Report. Technische Universität München, Fakultät für Bauingenieur- und Vermessungswesen, 2012</p>
	    			<p>Storemyr, P. <i>Monitoring and risk assessment of monuments and archaeological sites in the Nemi basin, Colli Albani, Italy.</i> Project Report. Expert Center for Conservation of Monuments and Sites, 2004</p>
	    		</div>
	    	</div>
	    </div>
	    <div class="tab-pane fade" id="3D">
	      <h2>Procedural modeling in archaeology</h2>
	    	<div class="row">
		    	<div class="col-md-6">	    		
		      		<p>It has been proven that procedural modeling is well-suited for archaeological purposes because historical information is often only available in fragments including archaeological remains/ruins, former architectural “rules” derived from other buildings, and additional sources like archaeological texts. Therefore, to achieve the final virtual model, these fragments have to be synthesised (Müller et al., 2006a; Noghani et al., 2012). According to Müller et al. (2006a), this synthesis is predominantly done by human, thus procedural modeling and CGA shapes seems to be a good platform for the following reasons: firstly, procedural modeling offers space for testing hypotheses by adjusting defined parameters. And secondly, the rules are written in a way that they are understandable for humans also and they could be more comprehensive than many pages of textual description (Müller et al., 2006a).</p>
		    	</div>
		    	<div class="col-md-4 col-md-offset-1">
		    		<%= image_tag 'door.png', class: "img-responsive img-centre" %>
		    	</div>
		    </div>
		    <br>
		    <div class="row">	    	
		    	<div class="col-md-2 col-md-offset-1">
		    		<%= image_tag 'CE_logo.png', class: "img-responsive img-centre" %>
		    	</div>
		    	<div class="col-md-7  col-md-offset-2">	    		
		      		<p>This project is based on the CityEngine, software which was successfully introduced into the archaeological field of research (Müller et al., 2006a). The main reasons, why CityEngine was chosen for this project are the possibility of testing several hypotheses, implementation of levels of details and potential solutions for expressing the uncertainty (Haegler et al., 2009). Secondly, this tool has been already verified as a suitable environment by several projects of archaeological reconstruction.</p>
		    	</div>
		    </div>
		    <br>
		   	<h2>Work flow of the model generation</h2>
	    	<div class="row">
		    	<div class="col-md-6">	    		
		      		<p>The generation of the 3D model starts with analysing the design and determining the parameters of the model. Next, the textures and colors of individual parts of the temple should be defined. Also the elements, called terminate shapes, which are modeled outside of the CityEngine procedural modeling environment should be created. In this case, a free version of 3D modeling software called SketchUp (Trimble, 2014) is used. After description of the generation of the terminate shapes, the selection of colors and textures is presented. Then, the design CGA rules have to be necessarily encoded. Creation of the rules is the most essential part of entire generation of 3D model. Finally, the 3D model is ready to be generated and published.</p>
		    	</div>
		    	<div class="col-md-3">
		    		<%= image_tag 'entablature.jpg', class: "img-responsive img-centre" %>
		    	</div>
		    	<div class="col-md-3">
		    		<%= image_tag 'podium.jpg', class: "img-responsive img-centre" %>
		    	</div>
		    </div>
		    <br>
		    <h2>Levels of detail</h2>
	    	<div class="row">
		    	<div class="col-md-10">	    		
		      		<p>Thanks to the characteristics of procedural modeling, it is possible to implement different levels of detail (LoDs) within one rule file. LoDs are encoded as a different parameters of an attribute and hence CityEngine user has the opportunity to switch fast between the individual levels in the Inspector window and thus adapt the visualization to his/her needs.</p>
		    	</div>
		    </div>
		   	<div class="row">		   		
		    	<h4>LoD1 - Low Detail</h4>
		    	<div class="col-md-6">	    		
		      		<p>This LoD shows only the colored mass model without any textures. The implementation of terminate shapes is mostly omitted and for the essential parts of the temple, like columns, the original detailed assets are replaced with simple cylindrical or cuboid elements. This view could be used for the navigation of camera or the basic perception of the temple’s characteristics.</p>
		    	</div>
		    	<div class="col-md-5 col-md-offset-1">
		    		<%= image_tag 'LoD1.JPG', class: "img-responsive img-centre" %>
		    	</div>
		    </div>
		    <br>
		    <div class="row">			    	
		    	<h4>LoD2 - Medium Detail</h4>
		    	<div class="col-md-6">	    		
		      		<p>Contrary to the low level of detail, medium LoD does not omit the terminate shapes and that’s why the user is getting the complete idea of the sanctuary’s visual appearance. LoD 2 includes all the statues, structure of columns, podium, etc. The colors remains the same as in LoD 1. This representation is considered as a standard for the scientific analysis and exploration of the temple.</p>
		    	</div>		    		    	
		    	<div class="col-md-5  col-md-offset-1">
		    		<%= image_tag 'LoD2.JPG', class: "img-responsive img-centre" %>
		    	</div>
		    </div>
		    <br>
		    <div class="row">		    	
		    	<h4>LoD3 - High Detail</h4>	 
		    	<div class="col-md-6">   		
		      		<p>The last and the most impressive visualization is provided by LoD 3. Contrary to LoD 2 it is enriched by various textures of materials. The patterns of the textures are more visible while zooming in. Thus this visualization should look as the most realistic one, almost photo realistic. Despite the criticism of photo-realistic visualizations, LoD 3 has been involved because of three reasons. Firstly, it complements the previous mentioned LoDs, next it shows the extensive possibilities of the CityEngine, and additionally it shows the temple from the different point of view which may be an advantage.</p>
		    	</div>
		    	<div class="col-md-5 col-md-offset-1">
		    		<%= image_tag 'LoD3.JPG', class: "img-responsive img-centre" %>
		    	</div>
		    </div>
		    <br>
	    	<h2>References</h2>
	    	<div class="row">
	    		<div class="col-md-12">
	    			<p>Haegler, S., P. Müller, and L. Van Gool. <i>Procedural Modeling for Digital Cultural Heritage.</i> In: EURASIP Journal on Image and Video Processing, vol. (2009), pp. 1–11</p>
	    			<p>Müller, P., T. Vereenooghe, P. Wonka, I. Paap, and L. J. Van Gool. <i>Procedural 3D Reconstruction of Puuc Buildings in Xkipché.</i> In: VAST. 2006a, pp. 139–146</p>
	    			<p>Noghani, J., E. F. Anderson, and F. Liarokapis. <i>Towards a Vitruvian Shape Grammar for Procedurally Generating Classical Roman Architecture.</i> In: VAST: International Symposium on Virtual Reality, Archaeology and Intelligent Cultural Heritage-Short and Project Papers. 2012, pp. 41–44</p>
	    			<p>Trimble. <i>SketchUp.</i> Accessed 2014-7-10. 2014. url: http://www.sketchup.com/</p>
	    		</div>
	    	</div>
	    </div>
	    <div class="tab-pane fade" id="uncertainty">
	      	<h2>Method of quantifying the uncertainty</h2>
	    	<div class="row">
		    	<div class="col-md-6">	    		
		      		<p>There are several methods using fuzzy logic for calculation of the uncertainty. Each of them has different advantages and disadvantages in terms of complexity or suitable usage. In order to find the best solution for the case study of the Sanctuary of Diana in Nemi, several approaches were combined. Niccolucci et al. (2004) claim that creation of an archaeological model is a stepwise process starting with an initial model <i>M<sub>0</sub></i> where each step represents addition of a new detail <i>m<sub>n</sub></i>, so at step <i>n</i> a model <i>M<sub>n+1</sub></i> is created by adding detail <i>m<sub>n</sub></i> to the model <i>M<sub>n</sub></i>. This description is perfect for combination with the characteristics of procedural modeling used in CityEngine. To define the correct terminology, term “newly added detail” equals to “newly added object”. As Niccolucci suggested, the scale for reliability has been established as an interval [0, 1], where 0 means the most uncertain object that equals a totally unreliable object, and 1 represents the most certain or fully reliable object (Niccolucci</p>
		    	</div>
		    	<div class="col-md-6">	    		
		      		<p>et al., 2004). Furthermore, the overall object’s reliability is divided into three components in order to specify the varying uncertainty of its parameters. The idea of the reliability components is based on the correction factors introduced by Tepavcevic and Stojakovic (2013) and reliability components presented by Niccolucci et al. (2004). The first positional component of reliability <i>r<sup>(p)</sup></i> describes the uncertainty of the object’s placement. Secondly, the dimensional component <i>r<sup>(d)</sup></i> presents the degree of reliability related to the knowledge of the object’s dimension. Lastly, style reliability <i>r<sup>(s)</sup></i> evaluates the style of added objects, for instance the reliability of the structure of the column shaft. Subsequently, the overall reliability of an object <i>r<sub>n</sub></i> is calculated like the minimum of its reliability components as demonstrated on the following formula</p>
		      		<center><i>r<sub>n</sub> = min(r<sup>(p)</sup><sub>n</sub> , r<sup>(d)</sup><sub>n</sub> , r<sup>(s)</sup><sub>n</sub> )</i></center>
		    	</div>
		    </div>
		    <br>
		    <div class="row">
		    	<center>
		    		<%= image_tag 'table.JPG', class: "img-responsive img-centre" %>
		    	</center>
		    </div>
		    <br>
		    <div class="row">
		    	<div class="col-md-6">	    		
		      		<p>Consequently, the calculation of the overall reliability for the entire model <i>r(M<sub>n+1</sub>)</i>, defined on the formula bellow, is the minimum of its reliability components and the reliability of the previous model overall reliability <i>r<sub>n</sub></i>. Where <i>r<sub>n</sub></i> is equal <i>r(M<sub>n</sub>)</i>.</p>
		      		<center><i>r(M<sub>n+1</sub>) = min(r<sup>(p)</sup><sub>n+1</sub> , r<sup>(d)</sup><sub>n+1</sub> , r<sup>(s)</sup><sub>n+1</sub> )</i></center>
		    	</div>
		    	<div class="col-md-6">
		    		<p>Numerical evaluation of each reliability component was determined via a formal discussion with the archaeologists, resulting in the table above this paragraph containing 21 steps of model generation. This means that 21 objects were stepwise added to the model in order to generate the final virtual reconstruction of the Diana temple. Each of these objects includes the three reliability components described earlier.</p>	    	
		    	</div>
		    </div>
		    <br>
		    <h2>Advantages and disadvantages of the method used</h2>
	    	<div class="row">
		    	<div class="col-md-6">	    		
		      		<p>Finally, it is important to mention the significant disadvantage of this method and the solution to minimize this negative effect. The disadvantage lies in the strong dependence of the resulting  reliability value on the order in which the details/objects are added. To overcome this issue and enable better results, the objects should not be added randomly. Added objects need to be divided in two groups: construction elements and decoration elements. Then, the construction objects <i>m<sub>1-11</sub></i> are added</p>
		    	</div>
		    	<div class="col-md-6">	  
		    		<p>according to the order of the graduating temple reconstruction, for instance walls are added after the podium is generated and before the roof is created. Next, the decoration elements <i>m<sub>12-21</sub></i> are added, nevertheless they are ordered according their reliability values so that the more reliable the object is, the sooner it is added. This approach will maintain higher model reliability in the sequence of the consecutive models for as long as possible.</p>  	
		    	</div>
		    </div>
		   	<br>
	    	<h2>References</h2>
	    	<div class="row">
	    		<div class="col-md-12">
	    			<p>Niccolucci, F. and S. Hermon. <i>A fuzzy logic approach to reliability in archaeological virtual reconstruction.</i> In: Proc. of the 32nd International Conference on Computer Applications and  Quantitative Methods in Archaeology. 2004, pp. 26–33</p>
	    			<p>Tepavcevic, B. and V. Stojakovic. <i>Procedural modeling in architecture based on statistical and fuzzy inference.</i> In: Automation in Construction, vol. 35 (2013), pp. 329–337</p>
	    		</div>
	    	</div>
	    </div>
	    <div class="tab-pane fade" id="uncertaintyV">
	    	<h2>Method of visualizing the uncertainty</h2>
	      	<div class="row">
		    	<div class="col-md-7">
		    		<p>The goal of uncertainty visualization considering the visualization limits of the CityEngine software should be determined in order to choose the suitable visualization techniques. The first goal of the uncertainty visualization of the Diana Temple is to communicate the existence of the uncertainty to the audience. Secondly, it is necessary to express the level of uncertainty of the entire model and its individual parts. Taking into account the possible visualization techniques and the purpose of the uncertainty modeling, a unique combination from these methods has been created.</p>
		    	</div>		    		
		    	<div class="col-md-1 col-md-offset-1">
		    		<%= image_tag 'Reliability_legend.png', class: "img-responsive img-centre" %>
	    		</div>
	    		<div class="col-md-1">
		    		<%= image_tag 'Reliability_legend2.png', class: "img-responsive img-centre" %>
	    		</div>
	    	</div>
	    	<br>
	    	<div class="row">	    			    		
		    	<div class="col-md-5">
		    		<%= image_tag 'Green_red.JPG', class: "img-responsive img-centre" %>
	    		</div>
		    	<div class="col-md-7">
		    		<p>Firstly, the uncertainty is mapped using color visualization schemes. This type of visualization is the most common technique thus implementation of this method should be easily comprehensive for the audience. In order to visually interpret the uncertainty values two schemes has been created; the first Green-Yellow-Red scheme includes changing hue attribute so the greenish tones represents more certain objects and more uncertain objects are colored in reddish tones. While using this scheme the original model colors need to be overwritten. Secondly, Opaque-Transparent scheme is implemented and alpha parameter expresses the uncertainty of the object. Thus the more transparent the more uncertain object. This solution does not require overwriting any colors, that’s why the original colors are kept.</p>
		    	</div>	
	    	</div>
	    	<br>
	    	<div class="row">
		    	<div class="col-md-7">
		    		<p>Next, uncertainty is expressed using side by side comparing of different models. Using this method with a combination of the CityEngine software highlights the advantages of procedural modeling in terms of time-saving generation of multiple models. The third method to map the uncertainty uses the benefits of interactive click-able objects. Fortunately, the CityEngine allows to implement the interactivity through Inspector window or while using the CityEngine Web Viewer. By clicking on desired object, additional information about the uncertainty values appears.</p>
		    	</div>		    		
		    	<div class="col-md-5">
		    		<%= image_tag '16info_wv.JPG', class: "img-responsive img-centre" %>
	    		</div>
	    	</div>
	    </div>
	    <div class="tab-pane fade" id="credits">
	      <h2>Credits</h2>
	      <div class="row">
		    	<div class="col-md-8">
		    		<p>This project was created by Mariana Danielov&aacute; as a master thesis at Technische Univerität München at the department of Cartography, Faculty of Civil, Geo and Environmental Engineering.</p>
		    		<p>The main supervisor of this thesis is Dr. -Ing. Holger Kumke, the second supervisor is Dipl. -Ing. Stefan Peters.</p>
		    		<p>Since this thesis is an interdisciplinary project it was done in cooperation with archaeologist Dr. Francesca Diosono.</p>
		    	</div>		    		
		    	<div class="col-md-3">	    	
		    		<%= image_tag 'TUMLogo.png', class: "img-responsive img-centre" %>
		    	</div>
		    	<div class="col-md-1">	    	
		    		<%= image_tag 'BV_Web.png', class: "img-responsive img-centre" %>
		    	</div>

	    	</div>
	    </div>
	  </div>
	  <br>
	</div>
</div>
