<div class="ribbon ribbon-green">
<div class="banner">
	<div class="text">
		<%= link_to "Documentation", pages_documentation_path %>
	</div>
</div>
</div>

<!--page heading-->
<div class="page-header center_text" >
<h1>Visual Recostruction of the Temple of Diana</h1>
<p class="lead">procedural modeling</p>
</div>
	
<!--thumnails-->
<div class="row" style="padding:20px">
<div class="col-sm-5 col-md-4 col-md-offset-2 col-sm-offset-1">
	<a href="http://www.arcgis.com/home/item.html?id=cb7b664174d9479dba8bc2a41d98e7a8">
		<%= image_tag '4.JPG', class: "img-circle img-responsive img-centre" %>
	</a>
	<h4 class="text-centre">Temple reconstruction</h4>
	<p>Realistic scene containing 3D models of Diana Temple in differend LoDs. There are layers with the generated excavation remains which can be classified by the type of the remains. This scene covers satellite picture of Nemi surroundings, detail photograph of the excavation of the Diana temple, and plan of the entire excavations in Nemi.</p>
</div>
<div class="col-sm-5 col-md-4 col-md-offset-1 col-sm-offset-1">
	<a href="http://www.arcgis.com/home/item.html?id=138a8fa65b87443da9a83fc0fc86d8c3">
		<%= image_tag '3.JPG', class: "img-circle img-responsive img-centre" %>
	</a>
	<h4 class="text-centre">Uncertainty of the temple parts</h4>
	<p>This scene presents the visual reconstruction of the uncertainty of individual temple's objects. There are two schemes showing the degree of reliability: Green-Yellow-Red and Opaque-Transparent.</p>
</div>
</div>
<br>
<div class="row" style="padding:20px">
<div class="col-sm-5 col-md-4 col-md-offset-2 col-sm-offset-1">
	<a href="http://www.arcgis.com/home/item.html?id=c8e789d281f6493a9ea0611f61105d7c">
		<%= image_tag '1.JPG', class: "img-circle img-responsive img-centre" %>
	</a>
	<h4 class="text-centre">Set of 16 temples</h4>
	<p>The scene containing set of 16 different temples. It exploits the benefits of the visualizing method "side by side". Color rendering is not for the individual objects, but it shows the final reliability value for the entire model. All 16 temples have different objects parameters and thus they have varying reliability value.</p>
</div>
<div class="col-sm-5 col-md-4 col-md-offset-1 col-sm-offset-1">
	<a href="http://www.arcgis.com/home/item.html?id=483a2820987e43c0b484ebc94f76d3f6">
		<%= image_tag '2.PNG', class: "img-circle img-responsive img-centre" %>
	</a>
	<h4 class="text-centre">Sequence of temple generation</h4>
	<p>This scene presents all stages of the gradual temple modeling, starting with the excavated remains which are absolutely reliable and continuing with models with gradually added details and decreasing reliability. You can get familiar with the process of temple generation and with the effect of increasing uncertainty with increasing amount of added details.</p>
</div>
</div>
